#content {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #FBF2C0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
  color: #BF3100;
  margin: 0em;
  line-height: 1em;
}

h2 {
  border-bottom: 1px solid #BF3100;
}

header {
  text-align: center;
  background-color: #F3DE8A;
  padding: 1em .6em;
}

main{
  padding: 1em;
}
main a {
  color: #941B0C;
  padding: 1em .6em;
  line-height: 1.5em;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  color: #F3DE8A;
}

ul a {
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  color: #BF3100;
}

img {
  position: relative;
  float: right
}
#lastupdate{
  color: #F3DE8A;
}
Footer a {
  color: #FBF2C0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #941B0C;
  padding: .6em .6em;
  color: #FBF2C0;
}