#content {
  font-size: 16px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #FBF2C0;
  border-radius: 15px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
  color: #BF3100;
}

h1 {
  font-size: 1.5rem;
  margin: 0.15rem;
}

h2 {
  font-size: 1rem;
  border-bottom: 1px solid #BF3100;
}

header, footer {
  text-align: center;
  padding: .6rem .6rem;
}

header {
  background-color: #F3DE8A;
}

main {
  padding: 1rem;
}

li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: .25rem;
}

main a {
  color: #941B0C;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  color: #F3DE8A;
}

ul a {
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  color: #BF3100;
}

img {
  max-width: 100%;
  height: auto;
  margin: .5rem;
}

#lastupdate {
  color: #F3DE8A;
}

Footer a {
  color: #FBF2C0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #941B0C;
  color: #FBF2C0;
}