main,
footer {
    margin: 0 auto;
    max-width: 967px;
}

header img {
    width: 250px;
}

nav li a {
    font-size: 1.3rem;
}

footer {
    margin-left: auto;
    margin-right: auto;

}

main {
    margin-left: auto;
    margin-right: auto;
}


body.bgimage, body.bgimage2, body.bgimage3, body.bgimage4 {
    background-position: center;
    background-attachment: fixed;
}
body.bgimage {
    background-image: url(../images/cherry-blossom.jpg);
}

body.bgimage2 {
    background-image: url(../images/lighthouse.jpg);
}

body.bgimage3 {
    background-image: url(../images/mountain.jpg);
}

body.bgimage3 {
    background-image: url(../images/mountain.jpg);
}

body.bgimage4 {
    background-image: url(../images/cherry-blossoms.jpg);
}
    /*----------- Temple --------------*/
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .grid-item:hover {
        box-shadow: 0 0 30px #628384;
    }