header img {
  width: 175px;
}

main,
footer {
  margin: 0 auto;
  max-width: 770px;
}

.headings h1 {
  font-size: 5rem;
}

.m {
  letter-spacing: 1.5pt;
  font-size: larger;
  margin-left: 17px;
}

/*----------- Navigation --------------*/
.overlaynav {
  display: none;
}

nav {
  display: block;
  text-align: center;
  font-family: 'PT Serif', serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
  background: #45594d;
  color: white;
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}

.nav {
  vertical-align: top;
  display: inline-block;
  box-shadow:
    1px -1px -1px 1px #000,
    -1px 1px -1px 1px #fff,
    0 0 6px 3px #fff;
  border-radius: 6px;
}

.nav li {
  position: relative;
}

.nav>li {
  float: left;
  border-bottom: 4px #aaa solid;
  margin-right: 1px;
}

.nav>li>a {
  margin-bottom: 1px;
  box-shadow: inset 0 2em .33em -0.5em #555;
}

.nav>li:hover,
.nav>li:hover>a {
  border-bottom-color: #82394a;
}

.nav li:hover>a {
  color: #e6dccc;
}

.nav>li:first-child {
  border-radius: 4px 0 0 4px;
}

.nav>li:first-child>a {
  border-radius: 4px 0 0 0;
}

.nav>li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}

.nav>li:last-child>a {
  border-radius: 0 4px 0 0;
}

.nav li li a {
  margin-top: 1px;
}

.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}

.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid #82394a;
  z-index: 1;
  left: -99999em;
}

.nav>li:hover>ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}

.nav>li li:hover>ul {
  left: 100%;
  margin-left: 1px;
  top: -1px;
}

/* arrow hover styling */
.nav>li>a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}

.nav>li:hover>a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: #aaa;
  margin-top: -5px
}

.nav li li>a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}

.nav li li:hover>a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: #82394a;
  right: 10px;
}

/*----------- End of Navigation --------------*/

/*----------- Section 1--------------*/

.overlay {
  display: block;
  max-width: 240px;
  height: 100px;
  background-color: #ccb999;
  color: #82394a;
  opacity: 0.70;
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay h2 p {
  text-align: center;
  margin: 15px;
}

.overlay2 {
  display: block;
  max-width: 93%;
  background-color: #e6dccc;
  color: #82394a;
  opacity: 0.80;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.overlay2 h2 p {
  text-align: center;
  margin: 15px;
  font-size: 1rem;
  margin-top: 0px;
}

.block {
  display: none;
}
/*----------- End of Section 1 --------------*/


.grid-container {
  grid-template-columns: auto auto;
}

/*----------- Reservation Form --------------*/
main.bg {
  background-color: whitesmoke;
  padding: 10px 8px 50px 8px;
}

/*----------- Services --------------*/
#top-row, #middle-row, #third-row {
  display: flex;
}

/*----------- Contact Info --------------*/
.contact {
  display: grid;
  grid-template-columns: 1.25fr .75fr;

}

.map {
  display: block;
  width: 90%;
  margin: 25px 10px;
  border: 1px solid #0A369D;
}

/*----------- End of Contact Info --------------*/