header img {
  width: 175px;
}

main,
footer {
  margin: 0 auto;
  max-width: 770px;
}

.headings h1 {
  font-size: 5rem;
}

.m {
  letter-spacing: 1.5pt;
  font-size: larger;
  margin-left: 17px;
}

/*----------- Section 1--------------*/

.overlay {
  display: block;
  max-width: 240px;
  height: 100px;
  background-color: #ccb999;
  color: #82394a;
  opacity: 0.70;
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay h2 p {
  text-align: center;
  margin: 15px;
}

.overlay2 {
  display: block;
  max-width: 93%;
  background-color: #e6dccc;
  color: #82394a;
  opacity: 0.80;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.overlay2 h2 p {
  text-align: center;
  margin: 15px;
  font-size: 1rem;
  margin-top: 0px;
}

.block {
  display: none;
}
/*----------- End of Section 1 --------------*/


.grid-container {
  grid-template-columns: auto auto;
}

/*----------- Reservation Form --------------*/
main.bg {
  background-color: whitesmoke;
  padding: 10px 8px 50px 8px;
}

/*----------- Services --------------*/
#top-row, #middle-row, #third-row {
  display: flex;
}

/*----------- Contact Info --------------*/
.contact {
  display: grid;
  grid-template-columns: 1.25fr .75fr;

}

.map {
  display: block;
  width: 90%;
  margin: 25px 10px;
  border: 1px solid #0A369D;
}

/*----------- End of Contact Info --------------*/