body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

header,
footer {
    background-color: #e6dccc;
    color: #82394a;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/final/images/banner.jpg');
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

header img {
    width: 80px;
    height: auto;
}

main,
footer {
    margin: 0 auto;
    max-width: 967px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    /*color: #0A369D;*/
    text-align: center;
}
/*----------- Header --------------*/
.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    margin-top: 5px;
}

header img {
    width: 80px;
    height: auto;
}
/*----------- End of Header --------------*/


/*----------- Navigation --------------*/
li a.active {
    color: #e6dccc;
    background-color: #82394a;
    font-weight: bold;
}


/*----------- End of Navigation --------------*/


/*----------- index --------------*/
.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
    height: auto;
}

.overlay {
    max-width: 240px;
    height: 100px;
    background-color: #e6dccc;
    color: #82394a;
    opacity: 0.60;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .overlay h2 p {
    text-align: center;
    margin: 15px;
  }

  .overlay2 {
    width: 93%;
    height: 100px;
    background-color: #e6dccc;
    color: #82394a;
    opacity: 0.80;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  
  .overlay2 h2 p {
    text-align: center;
    margin: 15px;
  }

/*----------- End of Section 1--------------*/

/*----------- Contact Info --------------*/
.contact, .contact2 {
    display: block;
    align-content: center;
}

.contact2 {
    max-width: 100%;
    align-items: center;
    align-content: center;
}

.map {
    display: none;
}

.socialmedia img {
    width: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*----------- End of Contact Info --------------*/


footer {
    text-align: center;
    padding: .5rem;
}

/*Place holder CSS for each of the sections of the page*/
main section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px dashed #82394a;
    padding: 1rem 1rem;
    background-color: #ccb999;
}