body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

header,
footer {
    background-color: #ccb999;
    color: #82394a;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/final/images/banner.jpg');
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

header img {
    width: 80px;
    height: auto;
}

main,
footer {
    margin: 0 auto;
    max-width: 967px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    /*color: #0A369D;*/
    text-align: center;
}

/*----------- Header --------------*/
.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    margin-top: 5px;
}

header img {
    width: 80px;
    height: auto;
}

/*----------- End of Header --------------*/


/*----------- Navigation --------------*/
li a.active {
    color: #e6dccc;
    background-color: #82394a;
    font-weight: bold;
}


/*----------- End of Navigation --------------*/


/*----------- index --------------*/
.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
    height: auto;
}

.overlay {
    display: none;
}

.overlay2 {
    display: none;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #82394a;
    color: #e6dccc;
    padding: 28px;
    font-size: 1.5rem;
    text-align: center;
}

.smallbutton a {
    text-decoration: none;
}

/*----------- End of Section 1--------------*/

/*----------- Reservation Form--------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #82394a;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #82394a;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #82394a;
}

form input.submitBtn {
    border: none;
    background-color: #82394a;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly {
    padding-top: 30px;
	display: flex;
	align-items: center;
}

#roomvalue {
	margin: 0 15px;
}
form textarea {
    width: 96%;
}

main.center {
    text-align: center;
    background-color: #e6dccc;
    padding: 10px 8px 50px 8px;
}

/*----------- End of Reservation Form--------------*/

/*----------- Contact Info --------------*/
.contact,
.contact2 {
    display: block;
    align-content: center;
}

.contact2 {
    max-width: 100%;
    align-items: center;
    align-content: center;
}

.map {
    display: none;
}

.socialmedia img {
    width: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------- End of Contact Info --------------*/


footer {
    text-align: center;
    padding: .5rem;
}

/*Place holder CSS for each of the sections of the page*/
main section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px dashed #82394a;
    padding: 1rem 1rem;
    background-color: #e6dccc;
}