body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

header,
footer {
    background-color: #ccb999;
    color: #82394a;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/final/images/banner.jpg');
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

header img {
    width: 80px;
    height: auto;
}

main,
footer {
    margin: 0 auto;
    max-width: 967px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    /*color: #0A369D;*/
    text-align: center;
}

/*----------- Header --------------*/
.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    margin-top: 5px;
}

header img {
    width: 80px;
    height: auto;
}

/*----------- End of Header --------------*/


/*----------- Navigation --------------*/
li a.active {
    color: #e6dccc;
    background-color: #82394a;
    font-weight: bold;
}

nav {
    display: block;
    text-align: center;
    font-family: 'PT Serif', serif;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: block;
    background: #45594d;
    color: white;
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
}

.nav {
    vertical-align: top;
    display: inline-block;
    box-shadow:
        1px -1px -1px 1px #000,
        -1px 1px -1px 1px #fff,
        0 0 6px 3px #fff;
    border-radius: 6px;
}

.nav li {
    position: relative;
}

.nav>li {
    float: left;
    border-bottom: 4px #aaa solid;
    margin-right: 1px;
}

.nav>li>a {
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em #555;
}

.nav>li:hover,
.nav>li:hover>a {
    border-bottom-color: #82394a;
}

.nav li:hover>a {
    color: #e6dccc;
}

.nav>li:first-child {
    border-radius: 4px 0 0 4px;
}

.nav>li:first-child>a {
    border-radius: 4px 0 0 0;
}

.nav>li:last-child {
    border-radius: 0 0 4px 0;
    margin-right: 0;
}

.nav>li:last-child>a {
    border-radius: 0 4px 0 0;
}

.nav li li a {
    margin-top: 1px;
}

.nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    top: 50%;
    right: 5px;
}

.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid #82394a;
    z-index: 1;
    left: -99999em;
}

.nav>li:hover>ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
}

.nav>li li:hover>ul {
    left: 100%;
    margin-left: 1px;
    top: -1px;
}

/* arrow hover styling */
.nav>li>a:first-child:nth-last-child(2):before {
    border-top-color: #aaa;
}

.nav>li:hover>a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: #aaa;
    margin-top: -5px
}

.nav li li>a:first-child:nth-last-child(2):before {
    border-left-color: #aaa;
    margin-top: -5px
}

.nav li li:hover>a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-right-color: #82394a;
    right: 10px;
}

/*----------- End of Navigation --------------*/


/*----------- index Section 1--------------*/
.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
    height: auto;
}

.overlay {
    display: none;
}

.overlay2 {
    display: none;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #82394a;
    color: #e6dccc;
    padding: 28px;
    font-size: 1.5rem;
    text-align: center;
}

.smallbutton a {
    text-decoration: none;
}

/*----------- End of Section 1--------------*/

/*----------- Reservation Form--------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #82394a;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #82394a;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #82394a;
}

form input.submitBtn {
    border: none;
    background-color: #82394a;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly {
    padding-top: 30px;
    display: flex;
    align-items: center;
}

#roomvalue {
    margin: 0 15px;
}

form textarea {
    width: 96%;
}

main.center {
    text-align: center;
    background-color: #e6dccc;
    padding: 10px 8px 50px 8px;
}

/*----------- End of Reservation Form--------------*/

/*----------- Contact Info --------------*/
.contact,
.contact2 {
    display: block;
    align-content: center;
}

.contact2 {
    max-width: 100%;
    align-items: center;
    align-content: center;
}

.map {
    display: none;
}

.socialmedia img {
    width: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------- End of Contact Info --------------*/

/*----------- Services --------------*/

.left-column,
.right-column {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

#top-row,
#middle-row,
#third-row,
#bottom-row {
    display: block;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #82394a
}

.ser {
    max-width: 100%;
}

/*----------- End of Services --------------*/


footer {
    text-align: center;
    padding: .5rem;
}

/*Place holder CSS for each of the sections of the page*/
main section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px dashed #82394a;
    padding: 1rem 1rem;
    background-color: #e6dccc;
}

/*-----------Temples--------------*/
.gallery h1 {
    padding-left: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    justify-content: center;
    margin: 10px;
}

.grid-item {
    background-color: #e6dccc;
    border: 1px solid #628384;
    color: #82394a;
    overflow: hidden;
    border-radius: .9rem;
}

.gallery figure {
    margin: 0px;
}

.gallery figure img[data-src] {
    filter: blur(0.2em);
}

.gallery figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.gallery figcaption {
    padding: .5rem 1rem;
}