body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #49A078;
    color: #79D8CD;
}

main,header,footer {
    margin: 0 auto;
    max-width: 767px;
}

header, footer {
    text-align: center;
    background-color: #216869;
    padding: 1rem 1rem;
    line-height: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

main section {
    margin: 0.5rem;
    border: 2px solid #F2DD59;
    padding: 0 1rem;
    background-color: #79D8CD;
    border-radius: 15px;
    color: #1F2421;
}

.colimage {
    width: 100%;
    height: auto;
}

/* Hide the middle section on mobile or samll views

section:nth-child(2) {
    display: none;
    margin: .05 rem;
}
*/