body {
    font-size: 16px;
    color: #0A369D;
}

img {
    width: 300px;
    height: 400px;
    display: block;
    margin: 10px auto;
    border: 0;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}