body {
    font-size: 16px;
    color: #0A369D;
    font-family: 'Rubik', sans-serif;
    background-color: whitesmoke;
}

header,
footer {
    background-color: #92B4F4;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: .5rem;
}

.gallery {
    max-width: 100%;
}

main,
footer {
    margin: 0 auto;
    max-width: 767px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: #0A369D;
    text-align: center;
}

nav {
    background-color: #4472ca;
    text-align: center;
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Place holder CSS for each of the sections of the page
main section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px dashed #0A369D;
    padding: 1rem 1rem;
    background-color: #cfdee7;
}*/

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #f8f8ff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #cfdee7;
    background-color: #4472ca;
    font-weight: 700;
}

.responsive li {
    display: block;
}

header img {
    width: 80px;
    height: auto;
}

li a.active {
    color: #0A369D;
    background-color: #cfdee7;
    font-weight: bold;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .8rem;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
}

.weatherstats {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    border: 0;
    border-radius: .75rem;
    padding: 1em;
    background: radial-gradient(at 0% 0%, #cfdee7, #4472ca);
    box-shadow: 0 0 30px #0A369D;
    opacity: .88;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.stathead {
    grid-column: 1 / 3;
    text-decoration: underline #0A369D;
    padding-bottom: .5rem;
}

.stathead h3 {
    margin: 0;
}

.column1 {
    position: relative;
    text-align: right;
    margin: 0;
    border: 0;
    padding: 0;
}

.column2 {
    text-align: left;
    margin: 0 0 0 .5em;
    border: 0;
    padding: 0;
}

#current {
    text-transform: capitalize;
}

.column1 ul,
.column2 ul {

    margin: 0;
    list-style: none;
    padding: 0;
}

.column1 ul li,
.column2 ul li {
    margin: 0;
}

.forecast {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #ffc922;
    color: black;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    line-height: 1.75rem;
}
#city-name {
    font-size: 2.5rem;
}
.article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #0A369D;
    padding: 1rem 1rem;
    background-color: #cfdee7;
}

.article img {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 200px;
    height: auto;
}

.articleheadings {
    display: flex;
    flex-direction: column;
}

.articleheadings h2 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.contact {
    display: block;
    align-content: center;
    margin: 20px;
}

.map {
    display: none;
}

.socialmedia img {
    width: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery h1 {
    padding-left: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    justify-content: center;
    margin: 10px;
}

.grid-item {
    background-color: #cfdee7;
    border: 1px solid #0A369D;
    overflow: hidden;
    border-radius: .9rem;
}

figure {
    margin: 0px;
}

figure img[data-src] {
    filter: blur(0.2em);
}

figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

figcaption {
    padding: .5rem 1rem;
}
/*----------- Storm Center--------------*/
main.bg {
    background-color: #f8f8ff;
    padding: 10px 8px 50px 8px;
}

body.bgimage {
    background-position: center;
    background-image: url(../images/storm.jpg);
    background-attachment: fixed;

}

/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #0A369D;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #0A369D;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #0A369D;
}

form input.submitBtn {
    border: none;
    background-color: #0A369D;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly {
    padding-top: 30px;
	display: flex;
	align-items: center;
}

#ratingvalue {
	margin: 0 15px;
}
form textarea {
    width: 96%;
}

/*----------- Thank You --------------*/
main.center {
    text-align: center;
    background-color: #f8f8ff;
    padding: 10px 8px 50px 8px;
}

/*----------- Home Page --------------*/
div.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    transition-property: transform;
}

div.cards a {
    text-decoration: none;
    color: #0A369D;
}

div.cards a:visited {
    color: #0A369D;
}

div.cards a:hover {
    transform: scale(1.075);
}

div.cards h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
}
div.cards h3 {
    font-style: italic;
    margin-top: .5rem;
}

div.cards section {
    border-radius: 1em;
    margin: .5rem;
    padding: 1rem;
    background-color: #cfdee7;
    box-shadow: 0px 2px 7px 4px rgba(0,0,0,0.4);
}

div.cards img {
    width: 100%;
    height: auto;
}

.main {
    max-width: 80%;
}

.indexinfo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem .5rem;
    line-height: 2rem;
}

.main h4 {
    font-size: 3rem;
    margin-bottom: .5rem;
}
.main h5 {
    font-size: 2rem;
    margin-top: .5rem;
}
