body {
    font-size: 16px;
    color: #0A369D;
    font-family: 'Rubik', sans-serif;
}

header,
footer {
    background-color: #92B4F4;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    line-height: 1.5rem;
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: #0A369D;
    font-size: 2rem;
}

nav {
    background-color: #4472ca;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #cfdee7;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #cfdee7;
    color: #0A369D;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main article {
    margin: 0.5rem;
    border: 1px solid #cfdee7;
    padding: 0 1rem;
    background-color: #cfdee7;
}

p,a {
    padding: 0 1rem;
}

p {
    text-align: center;
}

picture {
    align-content: center;
}

.logo {
    width: 20%;
    margin: 0;
}

.palette, .font {
    max-width: 100%;
    margin-top: 5px;
    border: 1px solid black;
}

.active {
    color: white;
}